/* Add your custom extension styling here */
.sm-label {
    background-color: #d2d1d0;
    font-size: 0.75em;
    padding-top: 5px;
    width:  200px;
    height:  200px;
    font-family: monospace;
}

.menu {
    width: 400px;
    height: 600px;
}

.text {
    font-size: 1.5em;
}

.button {
    font-size: 1.5em;
    padding:  20px;
}